@import '../styles/variables.scss';

.alignCenter {
	text-align: center !important;
}

.flex {
	display: flex;
	flex-direction: row;

	@media (max-width: 767.98px) {
		flex-direction: column;
	}
}

.textContainer {
	width: 500px;
	margin: 0 auto;

	@media (max-width: 767.98px) {
		width: 100%;
		margin-bottom: 2rem;
	}
}