@import './variables.scss';

.cookiebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    background-color: $color-nr2;
    right: 0;
    left: 0;

    button {
        width: 200px;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 30px;
        border: 2px solid $color-nr1;
        color: $color-nr6 !important;
        background-color: $color-nr1;

        &:hover {
            color: $color-nr1 !important;
            background-color: $color-nr2;
        }
    }
}