@import './variables.scss';

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1500;
	background-color: $color-nr1-transparent;
	transition: .2s all ease-in-out;

	@media (max-width: 767.98px) {
		position: relative;
		background-color: $color-nr2 !important;
	}
}

.top {
	background-color: transparent;
}

.row {
	display: flex;

	@media (max-width: 767.98px) {
		flex-direction: column;
		justify-content: center;
	}
}

.leftColumn {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	@media (max-width: 767.98px) {
		width: 100%;
		justify-content: center;
	}

	a {
		@media (max-width: 767.98px) {
			margin: 0;
		}
	}
}

.rightColumn {
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@media (max-width: 767.98px) {
		width: 100%;
	}
}

.header {
	width: 100%;
	padding: 0;
	transition: .2s all ease-in-out;

	@media (max-width: 767.98px) {
		padding: 1rem 0 1.5rem;
	}

	@media (max-width: 575.98px) {
		padding: 0;
	}
}

.logo {
	font-size: 4rem;
	font-family: 'Arizonia', cursive !important;
}

.hamburger {
	color: $color-nr8 !important;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $color-nr6 !important;
	}
}