@import './variables.scss';

.heroImage {
    position: relative;
    height: 50vh;

    img {
        @media (max-width: 767.98px) {
            min-height: 500px;
        }
    }
}

@import'../styles/variables.scss';

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(128, 43, 177, 0.5);
}

.media {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.title {
    text-align: center;
    color: $color-nr6 !important;
    font-size: 4rem;
    margin: 0;
}

.subtitle {
    text-align: center;
    color: $color-nr6 !important;
}