@import 'node_modules/uikit/src/scss/variables.scss';
@import 'node_modules/uikit/src/scss/mixins.scss';
@import 'node_modules/uikit/src/scss/uikit.scss';
@import './variables.scss';

h1,
h4 {
    color: $color-nr1;
}

h2,
h5 {
    color: $color-nr2;
}

h3,
h6 {
    color: $color-nr3;
}

a {
    color: $color-nr1;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
        color: $color-nr2;
        text-decoration: none;
    }
}

.color-nr1 {
    color: $color-nr1;
}

.color-nr2 {
    color: $color-nr2;
}

.color-nr3 {
    color: $color-nr3;
}

.color-nr4 {
    color: $color-nr4;
}

.color-nr5 {
    color: $color-nr5;
}

.color-nr6 {
    color: $color-nr6;
}

.color-bg-nr1 {
    background-color: $color-nr1;
}

.color-bg-nr2 {
    background-color: $color-nr2;
}

.color-bg-nr3 {
    background-color: $color-nr3;
}

.color-bg-nr4 {
    background-color: $color-nr4;
}

.color-bg-nr5 {
    background-color: $color-nr5;
}

.color-bg-nr6 {
    background-color: $color-nr6;
}