@import "../styles/variables.scss";

.flexContainer {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	@media (max-width: 1199.98px) {
		flex-direction: column;
	}
}

.imageContainer {
	width: 50%;

	@media (max-width: 1199.98px) {
		width: 100%;
	}

}

.textContainer {
	width: 50%;

	@media (max-width: 1199.98px) {
		width: 100%;
	}
}

.textContainerFirst {
	padding: 0 0 0 30px;

	@media (max-width: 1199.98px) {
		padding: 0 0 30px 0;
	}
}

.textContainerSecond {
	padding: 0 30px 0 0;

	@media (max-width: 1199.98px) {
		padding: 30px 0 0 0;
	}
}

.iconLeft {
	color: $color-nr2;
	font-size: 1.2rem;
	font-weight: 700;
	display: block;

	svg {
		margin-right: 5px;
		transition: all .2s ease-in-out;
	}

	&:hover {

		svg {
			color: $color-nr2;
			margin-right: 10px;
		}
	}
}

.iconRight {
	color: $color-nr2;
	font-size: 1.2rem;
	font-weight: 700;
	display: block;

	svg {
		margin-left: 5px;
		transition: all .2s ease-in-out;
	}

	&:hover {

		svg {
			color: $color-nr2;
			margin-left: 10px;
		}
	}
}