@import './variables.scss';

.container {
	display: block;
}

.button {
	color: white !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	font-size: 1rem;
	line-height: 0;
	padding: 5px 15px !important;
	background-color: transparent !important;
	transition: .2s all ease-in-out;

	&:focus,
	&:hover {
		color: $color-nr8;
		background-color: transparent;
	}
}

.buttonActive {
	color: $color-nr8 !important;
	background-color: transparent !important;
}