.list {
    p {
        display: inline-block;
        width: 240px;
    }
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}