$color-nr1: #802BB1;
$color-nr2: #2D283E;
$color-nr3: #564F6F;
$color-nr4: #4C495D;
$color-nr5: #D1D7E0;
$color-nr6: #ffffff;
$color-nr7: #f6f6f6;
$color-nr8: #ffff00;
$color-nr9: #000000;
$color-nr10: #0e0f10;
$color-nr11: #0c0c0c;
$color-nr1-transparent: rgba(128, 43, 177, 0.6);
$color-nr2-transparent: rgba(45, 40, 62, 0.84);